[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "<0.102.0,>=0.101.1"
langchain = "<0.1.0,>=0.0.276"
pydantic = "<3.0.0,>=2.3.0"
uvicorn = "<0.24.0,>=0.23.2"
python-dotenv = "==1.0.0"

[dev-packages]
pylint = "==2.17.5"
black = "==23.7.0"
mypy = "==1.5.1"

[scripts]
lint = "pylint src"
format = "black src"
format_check = "black src --check"
type_check = "mypy src"

[requires]
python_version = "3.11"
